<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="483800110325-b8qec0kh5fcljpm2ju8bd88gsjn2vb7d.apps.googleusercontent.com">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Dashboard</title>

  <!-- Google Authentification -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">3D Visualization Tool</h3>
            <nav>
              <!-- The Navigation Bar -->
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/localLoad">Load Local</a></li>
                <li><a href="/urlLoad">Load Remote</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/about">About Us</a></li>
                <li class="active"><a href="/dashboard">Dashboard</a></li>
                <li>
                  <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </li>
              </ul>
            </nav>
            <!-- End: The Navigation Bar -->
          </div>
        </div>
      </div>
      <br>

      <!-- Start container that holds the 3D world content -->
      <div class="container" id="contentBox">
        <h3 class="masthead-brand">Hi, name</h3>
        <nav>
          <ul class="nav masthead-nav">
            <a href="#" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-plus-sign"></span> New
            </a>
          </ul>
        </nav>
        <br />
        <br />
        <hr />

        <div class="col">
          <div class="col-sm-1 col-md-2">
            <div class="thumbnail">
              <img src="/images/webVr.png" alt="..." style="width:100px;height:100px;">
              <div class="caption">
                <h3>World 1</h3>
              </div>
            </div>
          </div>
          <div class="col-sm-1 col-md-2">
          <div class="thumbnail">
            <img src="/images/webVr.png" alt="..." style="width:100px;height:100px;">
            <div class="caption">
              <h3>World 2</h3>
            </div>
          </div>
        </div>

      </div>
      <!-- End: container that holds the 3D world content -->
    </div>
  </div>

</body>

</html>
