<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="483800110325-b8qec0kh5fcljpm2ju8bd88gsjn2vb7d.apps.googleusercontent.com">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>3D Visualization Tool -
    <%= error.status %>
  </title>

  <!-- Google Authentification -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">3D Visualization Tool</h3>
            <nav>
              <!-- The Navigation Bar -->
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/localLoad">Load Local</a></li>
                <li><a href="/urlLoad">Load Remote</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/about">About Us</a></li>
                <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
              </ul>
            </nav>
            <!-- End: The Navigation Bar -->
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading"><%= message %></h1>
          <h2 class="lead"><%= error.status %></h2>
          <pre><%= error.stack %></pre>
        </div>

      </div>

    </div>

  </div>

</body>

</html>
