<!DOCTYPE html>
<html lang="en" >

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>3D Visualization Tool</title>

  <!--Check if browser webStorage is supported -->
  <script>
      if (typeof(Storage) == "undefined")
      {
          alert("This page requires that your browser supports web storage. Please update your browser.");
      }
  </script>

</head>

<body>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">

      <div class="masthead clearfix">
        <div class="container inner">
          <h3 class="masthead-brand">3D Visualization Tool</h3>
          <nav>
            <!-- The Navigation Bar -->
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/localLoad">Load Local</a></li>
              <li><a href="/urlLoad">Load Remote</a></li>
              <li><a href="/features">Features</a></li>
              <li><a href="/about">About Us</a></li>
            </ul>
          </nav>
          <!-- End: The Navigation Bar -->
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">This tool is used to display data points from a .csv
          file in a virtual space. Files can be loaded either locally or remotely via a URL.</p>
        <p class="lead">
          <a href="/localLoad" class="btn btn-lg btn-default">Local</a>
          <a href="/urlLoad" class="btn btn-lg btn-default">Remote</a>
        </p>
      </div>

    </div>

  </div>

</div>

</body>

</html>
