/*
 * Globals
 */

/* Links */

a, a:focus, a:hover {
  color: #fff;
}

/* Custom default button */

.m-progress-bar {
  min-height: 1em;
  background: #c12d2d;
  width: 5%;
}

.btn-info {
  text-shadow: none;
}

.btn-default {
  text-shadow: none;
  background-color: #f1f7ed
}

.btn-default:hover {
  text-shadow: none;
  background-color: #585b57
}

.btn-default:focus {
  color: #585b57;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*Loading circle*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  align-self: center;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
 * Base structure
 */

html, body {
  height: 100%;
  background-color: #fff;
}

body {
  color: #fff;
  height: 100%;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100%;
  background-color: #333;
  height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

#myModalLabel {
  text-shadow: none;
  color: #555555;
}

.modalChoices {
  color: #000000;
  text-shadow: none;
}

/*Select2 settings*/

.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
  background: none;
  padding: 0;
  border-color: #cccccc;
  border-radius: 4px;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container.input-lg .select2-choice, .input-group-lg .select2-container .select2-choice {
  height: 46px;
  line-height: 1.33333;
  border-radius: 6px;
}

.select2-results__options {
  font-size: 14px !important;
  color: #000000 !important;
  text-shadow: none !important;
}

.select2-search input {
  border-color: #cccccc;
  border-radius: 4px;
  color: #000000;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2Chosen {
  text-shadow: none !important;
}

#googleProfilePicture {
  height: 3em;
  margin-bottom: 2em;
}

/* Padding for spacing */

.inner {
  padding: 30px;
}

/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav>li {
  display: inline-block;
}

.masthead-nav>li+li {
  margin-left: 20px;
}

.masthead-nav>li>a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, .75);
  border-bottom: 2px solid transparent;
}

.masthead-nav>li>a:hover, .masthead-nav>li>a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav>.active>a, .masthead-nav>.active>a:hover, .masthead-nav>.active>a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

#contentBox {
  position: relative;
  border-radius: 25px;
  background: #0c0c0c;
  padding: 20px;
  width: 1200px;
  height: 100%;
  opacity: 0.75;
  display: block;
  align-self: center;
}

.worldOptions{
  text-shadow: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
}
