<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="483800110325-b8qec0kh5fcljpm2ju8bd88gsjn2vb7d.apps.googleusercontent.com">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>3D Visualization Tool</title>

  <!-- Firebase Initialization -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js" async defer></script>

  <!-- Google Authentification -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <!-- Auth handler -->
  <script src="/javascripts/auth.js" async defer></script>

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">3D Visualization Tool</h3>
            <nav>
              <!-- The Navigation Bar -->
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/features">Features</a></li>
                <li class="active"><a href="/about">About Us</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div></li>
                <li><img src="" id="googleProfilePicture" class="img-circle" alt="Google Profile Picture"></li>
              </ul>
            </nav>
            <!-- End: The Navigation Bar -->
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">Add things about who we are</h1>
          <p class="lead">Show how cool we are</p>
        </div>

      </div>

    </div>

  </div>

</body>

</html>
