<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content="483800110325-b8qec0kh5fcljpm2ju8bd88gsjn2vb7d.apps.googleusercontent.com">

  <!-- Bootstrap -->
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>

  <!-- CSS files -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

  <!--Required JavaScript resources -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.6/papaparse.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- Deal with .csv file upload -->
  <script src="/javascripts/handleCSVupload.js"></script>
  <!-- End: Deal with .csv file upload -->

    <!-- Firebase Initialization -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>

    <!-- Google Authentification -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <!-- Request handler -->
  <script src="/javascripts/requests.js"></script>

  <title>3D Visualization Tool</title>

</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="container">

        <div class="masthead clearfix">
          <div class="container inner">
            <h3 class="masthead-brand">3D Visualization Tool</h3>
            <nav>
              <!-- The Navigation Bar -->
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/localLoad">Load Local</a></li>
                <li class="active"><a href="/urlLoad">Load Remote</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/about">About Us</a></li>
                <li><div class="g-signin2" data-onsuccess="onSignIn"></div></li>
              </ul>
            </nav>
            <!-- End: The Navigation Bar -->
          </div>
        </div>

        <div class="inner cover">
          <p class="lead" id="localLoadLabel">Enter a URL that points directly to a .csv file.</p>
          <!--URL search bar -->
          <p class="lead">
            <div class="col-lg-4 col-lg-offset-4" id="urlBar">
              <div class="input-group">
                <input type="text" id="csvURL" class="form-control" placeholder="Search for .CSV by URL...">
                <span class="input-group-btn">
                <button class="btn btn-primary" onclick="loadCSVremote()" type="button" >Load!</button>
              </span>
              </div>
              <!-- Area for success message -->
              <div id="successMessage" align="center">
              </div>
              <!-- End: Area for success message -->
            </div>
          </p>
          <!-- End: URL search bar -->

          <!--Drop down for selecting axis -->
          <div class="select2Chosen" style="display:none" id="dropDownForInit">
            <h4 class "lead">
              Select your initial X-Y-Z axis. This can all later be changed in VR. </h4>
            <hr>
            <label for="x-axis">
            X-Axis<br>
            <select class="js-responsive-dropdown" name="x-axis" id="x-axis">
            </select>
          </label>
            <label for="y-axis">
            Y-Axis<br>
            <select class="js-responsive-dropdown" name="y-axis" id="y-axis">
            </select>
          </label>
            <label for="z-axis">
            Z-Axis<br>
            <select class="js-responsive-dropdown" name="z-axis" id="z-axis">
            </select>
          </label>
          </div>
          <!-- End: Drop down for selecting axis -->
          <br />
          <!-- Area to continue to virtual space if successful -->
          <div id="continueToVirtual" align="center">
          </div>
          <!-- End: Area to continue to virtual space if successful -->
        </div>

      </div>

    </div>

  </div>

  <!-- Firebase Initialization -->
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <!-- Request handler -->
  <script src="/javascripts/requests.js"></script>

</body>

</html>
